@use '../../../styles/variables' as *;

// TODO: Уточнить внешний вид кнопки при ховере и блокировке

// TODO: Изменить курсор в соответствии с макетом
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 20px;
  gap: 12px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: $font-weight-regular;
  font-size: $font-size-button;
  line-height: $line-height-normal;
  width: 100%;
  cursor: pointer;

  &.primary {
    background-color: $button-color-primary;
    color: $text-color;
    height: 70px;
  }

  &.secondary {
    background-color: $button-color-secondary;
    color: $ui-white-color;
  }
}

.small {
  max-width: 348px;

  @media (width <= 360px) {
    width: 100%;
  }
}

.disabled {
  opacity: 0.5;
  cursor: default;
}
